In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/Users/nianzhe/Desktop/DSO562 Fraud Analytics/Project2/applications data.csv')

In [3]:
l = ['record','ssn','firstname','lastname','address','zip5','dob','homephone']
for x in l:
    df[x] = df[x].astype(str)

In [4]:
df['zip5']=df['zip5'].apply(lambda x: '{0:0>5}'.format(x))

In [5]:
df.head()

,record,date,ssn,firstname,lastname,address,zip5,dob,homephone,fraud_label
0,1,20160101,379070012,XRRAMMTR,SMJETJMJ,6861 EUTST PL,02765,19070626,1797504115,0
1,2,20160101,387482503,MAMSTUJR,RTTEMRRR,7280 URASA PL,57169,19340615,4164239415,1
2,3,20160101,200332444,SZMMUJEZS,EUSEZRAE,5581 RSREX LN,56721,19070626,216537580,0
3,4,20160101,747451317,SJJZSXRSZ,ETJXTXXS,1387 UJZXJ RD,35286,19440430,132144161,0
4,5,20160101,24065868,SSSXUEJMS,SSUUJXUZ,279 EAASA WY,03173,19980315,6101082272,0

In [6]:
df['ssn'].replace('999999999',np.nan,inplace=True)
df['homephone'].replace('9999999999',np.nan,inplace=True)
df['address'].replace('123 MAIN ST',np.nan,inplace=True)
df['dob'].replace('19070626',np.nan,inplace=True)

In [7]:
df['ssn'] = df['ssn'].fillna(df['record'])
df['homephone'] = df['homephone'].fillna(df['record'])
df['address'] = df['address'].fillna(df['record'])
df['dob'] = df['dob'].fillna(df['record'])

In [8]:
df['appyear'] = (df['date'] / 10000).astype('int')
df['appmonth'] = ((df['date'] - df['appyear'] * 10000) / 100).astype('int')
df['appday'] = df['date'] - df['appyear'] * 10000 - df['appmonth'] * 100
df['date'] = pd.to_datetime(df.appyear*10000+df.appmonth*100+df.appday,format='%Y%m%d')
df = df.drop(columns = ['appyear','appmonth','appday'])

## 1. Build Entities

In [9]:
df['name'] = df['firstname'] + df['lastname']

In [10]:
coblist = ['ssn', 'dob', 'address', 'homephone' ,'name','zip5']

In [11]:
len(coblist)

6

In [12]:
for i in range(len(coblist)):
    for j in range(len(coblist)):
        if i<j:
            new_col = coblist[i]+'-'+coblist[j]
            df[new_col] = df[coblist[i]] + df[coblist[j]]

In [13]:
for i in range(len(coblist)):
    for j in range(len(coblist)):
        for k in range(len(coblist)):
            if i<j<k:
                new_col = coblist[i]+'-'+coblist[j] +'-'+coblist[k]
                df[new_col] = df[coblist[i]] + df[coblist[j]] +df[coblist[k]]

In [14]:
df['name-ssn-homephone-dob-address-zip5'] = df['name'] +df['ssn'] + df['homephone']+['dob']+df['address'] + df['zip5']
df['name-ssn-homephone-dob'] = df['name'] +df['ssn'] + df['homephone']+df['dob'] 
df['name-ssn-address-zip5'] = df['name'] +df['ssn'] + df['address']+df['zip5']

In [15]:
list(df.columns)

['record',
 'date',
 'ssn',
 'firstname',
 'lastname',
 'address',
 'zip5',
 'dob',
 'homephone',
 'fraud_label',
 'name',
 'ssn-dob',
 'ssn-address',
 'ssn-homephone',
 'ssn-name',
 'ssn-zip5',
 'dob-address',
 'dob-homephone',
 'dob-name',
 'dob-zip5',
 'address-homephone',
 'address-name',
 'address-zip5',
 'homephone-name',
 'homephone-zip5',
 'name-zip5',
 'ssn-dob-address',
 'ssn-dob-homephone',
 'ssn-dob-name',
 'ssn-dob-zip5',
 'ssn-address-homephone',
 'ssn-address-name',
 'ssn-address-zip5',
 'ssn-homephone-name',
 'ssn-homephone-zip5',
 'ssn-name-zip5',
 'dob-address-homephone',
 'dob-address-name',
 'dob-address-zip5',
 'dob-homephone-name',
 'dob-homephone-zip5',
 'dob-name-zip5',
 'address-homephone-name',
 'address-homephone-zip5',
 'address-name-zip5',
 'homephone-name-zip5',
 'name-ssn-homephone-dob-address-zip5',
 'name-ssn-homephone-dob',
 'name-ssn-address-zip5']

In [16]:
len(df.columns)

49

In [17]:
df.head()

,record,date,ssn,firstname,lastname,address,zip5,dob,homephone,fraud_label,...,dob-homephone-name,dob-homephone-zip5,dob-name-zip5,address-homephone-name,address-homephone-zip5,address-name-zip5,homephone-name-zip5,name-ssn-homephone-dob-address-zip5,name-ssn-homephone-dob,name-ssn-address-zip5
0,1,2016-01-01,379070012,XRRAMMTR,SMJETJMJ,6861 EUTST PL,02765,1,1797504115,0,...,11797504115XRRAMMTRSMJETJMJ,1179750411502765,1XRRAMMTRSMJETJMJ02765,6861 EUTST PL1797504115XRRAMMTRSMJETJMJ,6861 EUTST PL179750411502765,6861 EUTST PLXRRAMMTRSMJETJMJ02765,1797504115XRRAMMTRSMJETJMJ02765,XRRAMMTRSMJETJMJ3790700121797504115dob6861 EUT...,XRRAMMTRSMJETJMJ37907001217975041151,XRRAMMTRSMJETJMJ3790700126861 EUTST PL02765
1,2,2016-01-01,387482503,MAMSTUJR,RTTEMRRR,7280 URASA PL,57169,19340615,4164239415,1,...,193406154164239415MAMSTUJRRTTEMRRR,19340615416423941557169,19340615MAMSTUJRRTTEMRRR57169,7280 URASA PL4164239415MAMSTUJRRTTEMRRR,7280 URASA PL416423941557169,7280 URASA PLMAMSTUJRRTTEMRRR57169,4164239415MAMSTUJRRTTEMRRR57169,MAMSTUJRRTTEMRRR3874825034164239415dob7280 URA...,MAMSTUJRRTTEMRRR387482503416423941519340615,MAMSTUJRRTTEMRRR3874825037280 URASA PL57169
2,3,2016-01-01,200332444,SZMMUJEZS,EUSEZRAE,5581 RSREX LN,56721,3,216537580,0,...,3216537580SZMMUJEZSEUSEZRAE,321653758056721,3SZMMUJEZSEUSEZRAE56721,5581 RSREX LN216537580SZMMUJEZSEUSEZRAE,5581 RSREX LN21653758056721,5581 RSREX LNSZMMUJEZSEUSEZRAE56721,216537580SZMMUJEZSEUSEZRAE56721,SZMMUJEZSEUSEZRAE200332444216537580dob5581 RSR...,SZMMUJEZSEUSEZRAE2003324442165375803,SZMMUJEZSEUSEZRAE2003324445581 RSREX LN56721
3,4,2016-01-01,747451317,SJJZSXRSZ,ETJXTXXS,1387 UJZXJ RD,35286,19440430,132144161,0,...,19440430132144161SJJZSXRSZETJXTXXS,1944043013214416135286,19440430SJJZSXRSZETJXTXXS35286,1387 UJZXJ RD132144161SJJZSXRSZETJXTXXS,1387 UJZXJ RD13214416135286,1387 UJZXJ RDSJJZSXRSZETJXTXXS35286,132144161SJJZSXRSZETJXTXXS35286,SJJZSXRSZETJXTXXS747451317132144161dob1387 UJZ...,SJJZSXRSZETJXTXXS74745131713214416119440430,SJJZSXRSZETJXTXXS7474513171387 UJZXJ RD35286
4,5,2016-01-01,24065868,SSSXUEJMS,SSUUJXUZ,279 EAASA WY,03173,19980315,6101082272,0,...,199803156101082272SSSXUEJMSSSUUJXUZ,19980315610108227203173,19980315SSSXUEJMSSSUUJXUZ03173,279 EAASA WY6101082272SSSXUEJMSSSUUJXUZ,279 EAASA WY610108227203173,279 EAASA WYSSSXUEJMSSSUUJXUZ03173,6101082272SSSXUEJMSSSUUJXUZ03173,SSSXUEJMSSSUUJXUZ240658686101082272dob279 EAAS...,SSSXUEJMSSSUUJXUZ24065868610108227219980315,SSSXUEJMSSSUUJXUZ24065868279 EAASA WY03173

### 2. Attributes

In [18]:
attributes = list(df.columns)

In [19]:
attributes.remove('fraud_label')
attributes.remove('date')
attributes.remove('zip5')
attributes.remove('firstname')
attributes.remove('lastname')
attributes.remove('dob')
attributes.remove('record')

In [20]:
attributes

['ssn',
 'address',
 'homephone',
 'name',
 'ssn-dob',
 'ssn-address',
 'ssn-homephone',
 'ssn-name',
 'ssn-zip5',
 'dob-address',
 'dob-homephone',
 'dob-name',
 'dob-zip5',
 'address-homephone',
 'address-name',
 'address-zip5',
 'homephone-name',
 'homephone-zip5',
 'name-zip5',
 'ssn-dob-address',
 'ssn-dob-homephone',
 'ssn-dob-name',
 'ssn-dob-zip5',
 'ssn-address-homephone',
 'ssn-address-name',
 'ssn-address-zip5',
 'ssn-homephone-name',
 'ssn-homephone-zip5',
 'ssn-name-zip5',
 'dob-address-homephone',
 'dob-address-name',
 'dob-address-zip5',
 'dob-homephone-name',
 'dob-homephone-zip5',
 'dob-name-zip5',
 'address-homephone-name',
 'address-homephone-zip5',
 'address-name-zip5',
 'homephone-name-zip5',
 'name-ssn-homephone-dob-address-zip5',
 'name-ssn-homephone-dob',
 'name-ssn-address-zip5']

In [21]:
len(attributes)

42

## 3. Count Frequency

In [22]:
import datetime

In [23]:
finaldf = df[['record']].set_index('record').copy()

In [24]:
df['join_ts1'] = df['date']

In [25]:
for t in [0,1,3,7,30,90,180]:
    end_time = 'join_ts2_'+str(t)
    df[end_time] = df['date'] + datetime.timedelta(t)

In [26]:
for entity in attributes:
    data3 = df[['record','date', entity]]
    data4 = df[['join_ts1','join_ts2_0','join_ts2_1','join_ts2_3','join_ts2_7','join_ts2_30','join_ts2_90','join_ts2_180',entity]]
    tempdf = pd.merge(data3,data4, left_on = entity, right_on = entity)
    for t in [0,1,3,7,30,90,180]:
        name_end_time = 'join_ts2_' + str(t)
        tempdf2 = tempdf[(tempdf['date'] >= tempdf['join_ts1']) & (tempdf['date'] <= tempdf[name_end_time])]
        tempGroupby = tempdf2[['record','date']].groupby('record')
        temp_name = str(entity) + '_' + 'count' + str(t) + '_'
        finaldf = pd.merge(finaldf, getattr(tempGroupby, 'count')().add_prefix(temp_name),left_index = True, right_index = True, how = 'left')

In [27]:
finaldf['ssn_count90_date'].sum()

1111702

In [28]:
finaldf.head()

,ssn_count0_date,ssn_count1_date,ssn_count3_date,ssn_count7_date,ssn_count30_date,ssn_count90_date,ssn_count180_date,address_count0_date,address_count1_date,address_count3_date,...,name-ssn-homephone-dob_count30_date,name-ssn-homephone-dob_count90_date,name-ssn-homephone-dob_count180_date,name-ssn-address-zip5_count0_date,name-ssn-address-zip5_count1_date,name-ssn-address-zip5_count3_date,name-ssn-address-zip5_count7_date,name-ssn-address-zip5_count30_date,name-ssn-address-zip5_count90_date,name-ssn-address-zip5_count180_date
record,,,,,,,,,,,,,,,,,,,,,
1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
5,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [29]:
finaldf.to_csv('Count_Frequency.csv')

In [30]:
freq = pd.read_csv('Count_Frequency.csv')

In [31]:
freq.head()

,record,ssn_count0_date,ssn_count1_date,ssn_count3_date,ssn_count7_date,ssn_count30_date,ssn_count90_date,ssn_count180_date,address_count0_date,address_count1_date,...,name-ssn-homephone-dob_count30_date,name-ssn-homephone-dob_count90_date,name-ssn-homephone-dob_count180_date,name-ssn-address-zip5_count0_date,name-ssn-address-zip5_count1_date,name-ssn-address-zip5_count3_date,name-ssn-address-zip5_count7_date,name-ssn-address-zip5_count30_date,name-ssn-address-zip5_count90_date,name-ssn-address-zip5_count180_date
0,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,2,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,3,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,4,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,5,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1