In [21]:
import pandas as pd
import numpy as np
import datetime

In [22]:
df=pd.read_excel('no_missing.xlsx', converters={'Merchnum': lambda x: str(x), 'Merch_zip': lambda x : str(x)})

In [23]:
df.head()

,Unnamed: 0,assign,Merch_description,Merchnum,Recnum,Cardnum,Date,Merch_state,Merch_zip,Amount,Fraud,Merch_description_part,minus
0,0,FEDEX SHP 12/23/09 AB#TN38118,FEDEX SHP 12/23/09 AB#,5509006296254,1,5142190439,2010-01-01,TN,38118,3.62,0,FEDEXSHPAB,-1
1,1,SERVICE MERCHANDISE #81MA01803,SERVICE MERCHANDISE #81,61003026333,2,5142183973,2010-01-01,MA,01803,31.42,0,SERVICEMERCHANDISE,-2
2,2,OFFICE DEPOT #191MD20706,OFFICE DEPOT #191,4503082993600,3,5142131721,2010-01-01,MD,20706,178.49,0,OFFICEDEPOT,-3
3,3,FEDEX SHP 12/28/09 AB#TN38118,FEDEX SHP 12/28/09 AB#,5509006296254,4,5142148452,2010-01-01,TN,38118,3.62,0,FEDEXSHPAB,-4
4,4,FEDEX SHP 12/23/09 AB#TN38118,FEDEX SHP 12/23/09 AB#,5509006296254,5,5142190439,2010-01-01,TN,38118,3.62,0,FEDEXSHPAB,-5

In [24]:
df['dayofweek']=df['Date'].dt.dayofweek
day_week=df[['Fraud','dayofweek']][df['Recnum']<=84299].groupby(by='dayofweek').mean().reset_index()
day_week.columns=['dayofweek','day_week_risk']

In [25]:
day_week

   dayofweek  day_week_risk
0          0       0.008711
1          1       0.007127
2          2       0.009788
3          3       0.018626
4          4       0.025994
5          5       0.010095
6          6       0.009630

In [26]:
df=pd.merge(df,day_week,left_on='dayofweek',right_on='dayofweek',how='left')

In [28]:
grouprisk=df[['Recnum','day_week_risk']].set_index('Recnum')

In [29]:
grouprisk

        day_week_risk
Recnum
1            0.025994
2            0.025994
3            0.025994
4            0.025994
5            0.025994
...               ...
96749        0.025994
96750        0.025994
96751        0.025994
96752        0.025994
96753        0.025994

[96397 rows x 1 columns]

In [30]:
grouprisk.to_excel('Risk Table.xlsx')